.calculation {
    background-color: #ffffff;
    padding: 48px;
    h1 {
        font-size: 28px;
        text-align: center;
        font-weight: bold;
    }
    h2 {
        font-size: 24px;
        margin: 48px 0 20px;
        font-weight: bold;
    }
    img {
        display: block;
        margin: 48px auto;
        width: 70%;
    }
    a {
        word-wrap:break-word;
    }
    label {
        font-weight: bold;
    }
    th {
        font-weight: 400;
    }
    .calculation--bold {
        font-weight: bold;
    }
}
@media screen and (max-width: 580px) {
    .calculation {
        padding: 30px 18px;

        h1 {
            font-size: 26px;
        }
    }
}