.calculation {
    background-color: #ffffff;
    padding: 48px;
    letter-spacing: 0.05em;
    line-height: 1.8;
    h1 {
        font-size: 28px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 60px;
    }
    h2 {
        font-size: 22px;
        margin: 60px 0 28px;
        font-weight: bold;
        background-color: #F7F7F7;
        padding: 12px 16px;
        border-left: 5px solid $mainColor;
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 50px 0 20px;
        padding: 0 16px;
        border-left: 5px solid $mainColor;
    }
    img {
        display: block;
        margin: 48px auto;
        width: 70%;
    }
    a {
        word-wrap:break-word;
    }
    label {
        font-weight: bold;
    }
    th {
        font-weight: 400;
    }
    .calculation--bold {
        font-weight: bold;
    }
}
@media screen and (max-width: 580px) {
    .calculation {
        padding: 30px 18px;

        h1 {
            font-size: 26px;
        }
    }
}