#content {
    text-align: center;
    width: 980px;
    margin: 0 auto;
    padding: 34px 0;
    h1 {
        font-size: 30px;
        font-weight: bold;
    }
    .content__img {
        width: 300px;
        height: auto;
        margin: 40px 0;
    }
    .card-body {
        padding: 0;
        text-align: left;
    }
    .card {
        h2 {
            font-size: 20px;
            font-weight: bold;
        }
        .card-title {
            margin-bottom: 0;
        }
        .row {
            margin: 0;
            margin: 10px;
        }
        .img-background {
            @include imgBackgroundContent(#C8E6FF); 
        }
        .img-background--blue {
            @include imgBackgroundContent(#8DD7F7); 
        }
        .img-background--beige {
            @include imgBackgroundContent(#FCEFDF); 
        }
        .img-background--red {
            @include imgBackgroundContent(#FD938E); 
        }
        .col-md-8 {
            display: flex;
            align-items: center;
            width: 73%;
            max-width: none;
            padding-right: 0;
        }
        img {
            width: auto;
            height: 110px;
        }
    }
}
.content__text {
    margin: 40px 0 50px;
}
.content-article {
    display: flex;
    flex-wrap: wrap;
    a {
        width: calc((980px - 16px) / 2);
        margin-bottom: 16px;
        border: none;
        transition: .3s;
        color: $textColor;
        &:nth-child(odd) {
            margin-right: 8px;
        }
        &:nth-child(even) {
            margin-left: 8px;
        }
        &:hover {
            box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
            transform: translateY(-4px);
        }
    }
}
@media screen and (max-width: 580px) {
    #content {
        width: auto;
        h1 {
            font-size: 26px;
        }
        .card {
            margin-bottom: 10px;
            h2 {
                font-size: 16px;
            }
            img {
                width: 80px;
                height: auto;
            }
            .img-background, .img-background--blue, .img-background--beige, .img-background--red, .img-background--white {
                width: 38%;
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .row {
            flex-wrap: nowrap;
        }
    }
    .content-article {
        a {
            width: 100%;
            margin-bottom: 16px;
            border: none;
            transition: .3s;
            color: $textColor;
            &:nth-child(odd), &:nth-child(even) {
                margin: 0;
            }
            &:hover {
                box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
                transform: translateY(-4px);
            }
        }
    }
}