$bodyColor: #F0EBEB;
$mainColor: #F9874A;
$textColor: #333333;
$textColor2: #8a8a8a;

@mixin imgBackground($color) {
    background-color: $color;
    width: 100%;
    height: 170px;
    text-align: center;
}
@mixin imgBackgroundContent($color) {
    background-color: $color;
    width: 120px;
    height: 120px;
}
@mixin linkColor() {
    color: #333;
    &:hover {
        text-decoration: none;
        color: $mainColor;
    }
}
